{% extends 'ActsCamdramInfobaseBundle::layout.html.twig' %}

{% block title %}Infobase{% endblock %}

{% block infobase_body %}

    {% for article in articles %}
    <div class="panel">
    <h3><a href="{{ path("get_article", {slug: article.slug})}}">{{ article.name }}</a></h3>

    </div>
    {% endfor %}

{% endblock %}
