{% extends 'ActsCamdramBundle::layout.html.twig' %}

{% set current_navigation_id = 'infobase' %}

{% block stylesheets %}
{% stylesheets output='css/main.css'
'bundles/actscamdraminfobase/css/*.scss'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="large-3 columns">
        <h2><a href="{{ path('acts_camdram_infobase_index') }}">Infobase</a></h2>
        {{ render(controller('ActsCamdramInfobaseBundle:Article:sideBar')) }}
    </div>
    <div class="large-9 columns">
        {% block infobase_body %}{% endblock %}
    </div>
</div>
{% endblock %}
